---
---

html {
  background-color: #000;
  color: #fff;
}

h1 {
  color:#925eb0;
}

// ---

.container {
  font-family: 'VT323', monospace;
  width: 60%;
  margin: 0 auto;
}

.header {
  margin: 1em;
}

.header img {
  width: 500px;
  display: block;
  margin: 0 auto;
}

.win-result {
  color: green;
}

.lose-result {
  color: red;
}

li {
  font-size: 16px;
}
