---
# this is an empty front matter
---
<html >
    <title>Ghost Gaming UK</title>
    <head>
        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <img src="img/ghost_header.png">
        </div>
        <div class="container">
            <h1>results</h1>
            <ul>
                {% for result in site.data.results %}
                <li>
                    {{ result.date }} | vs. {{ result.opponent }} | {{ result.map }} {{ result.ghost_score }} - {{ result.opponent_score }}
                    {% if result.result == "WIN"  %}
                    <span class="win-result">WIN</span>
                    {% else %}
                    <span class="lose-result">LOSE</span>
                    {% endif %}
                    ({{ result.league }})
                </li>
                {% endfor %}
            </ul>
            <h1>roster</h1>
            <ul>
                {% for member in site.data.roster %}
                <li>
                    {{ member.handle }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
